<?xml version="1.0" encoding="UTF-8"?>

<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee;http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OnlineBookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/onlinebookstore</param-value>
	</context-param>

	<context-param>
		<param-name>dbUsername</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>dbPassword</param-name>
		<param-value></param-value>
	</context-param>

	<servlet>
		<servlet-name>ControllerServlet</servlet-name>
		<servlet-class>com.onlineBookStore.Controller</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ControllerServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
 
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error.jsp</location>
	</error-page>
	
</web-app>
</element>
